@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #1e1e1e;
  color: #d4d4d4;
  min-height: 100vh;
}

/* VSCode风格滚动条 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #252526;
}
::-webkit-scrollbar-thumb {
  background: #424242;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a;
}
